includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - tests

    # Level 5 of 9 (adjust as needed)
    level: 5
        
    excludePaths:
        - ./*/*/FileToBeExcluded.php
